<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- <link href="../css/style.css" rel="stylesheet"> </head> -->

<body>
<div id="myApp">
    <p>您最喜欢的游戏是：{{mygame}}</p>
    <input v-model="mygame">
</div>
<div id="mytest">
	<p>您最喜欢的水果是：{{myfruit}}</p>
	<input v-model="myfruit">
	
</div>
<script>
	var mytest =new Vue({
		el:'#mytest',
		data:{
			myfruit:'菠萝'
		},
		});
    var myApp = new Vue({
        el: '#myApp',
        //引号很重要不要忘了加
        data: {
            mygame: '超级马里奥GTA'
        },
    });
</script>
</body>

</html>